/* HEADER */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .headerLogo {
    width: 32px;
  }
  
  /* MAIN */
  main {
    min-height: 100vh;
  }

  /*Husk sett opp responsiv 426px for column i mobil*/
  .sectionHero{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .heroImg {
    background-color: #1D7874; /*placeholder for bilde*/
    width: 50%;
  }

  .heroText {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  /*Om forbi column -- separert div ikkenødvendig */
  .heroButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
  }

  .heroButtons button {
    background-color: #1D7874;
  }

  /*trenger transition for smooth overgang*/
  .heroButtons button:hover {
    background-color: #679289;
  }
  
  /* FOOTER */
  footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }